@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
*
body{
  font-family:"Roboto", sans-serif;
  font-size:15px;
  font-weight:300px;
  text-align: center;
  background-color: white;
  padding-top: 50px;
  margin: 50px;
  color: #F1F3F4;

}
.menu{
  display: grid;
  grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 25px;
  text-align: left;
}
.hamburger{
background:none;
 position:absolute;
 top:0;
 right:0;
 line-height:45px;
 padding:5px 15px 0px 15px;
 color:#999;
 border:0;
 font-size:1.4em;
 font-weight:bold;
 cursor:pointer;
 outline:none;
 z-index:10000000000000;
}
nav a{
  display: inline-block;
  color: #5F6368;
}
header{
  background-color: #255FDB;
  padding:20px;
  color: #F1F3F4;
  margin: 25px;
}
header p{
display: grid;
}
h1, h2{
    letter-spacing: 1px;
}
a{
  text-decoration: none;
  color: #E8EAED;
}

header a{
  text-align: left;
}

.overview {
  background-color: #FBBC05;
  margin: 25px;
  padding: 20px;
  font-size: 20px;
}
ul li  {
 list-style-position:inside
}

.prepare {
  background-color: #34A853;
  margin: 25px;
  padding: 20px;
  text-align: center;

}


.links {
  background-color: #EA4335;
  margin: 25px;
  padding: 20px;
}

.links a{
  display: grid;
  grid-columns: 1fr 1fr 1fr;


}

footer a{
  color: #25272B;
}

{
  box-sizing: border-box;
}

footer{
  margin: 50px;
  color:#25272B;
}

footer a{
  padding: 50px;
  color:   color: #5F6368;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
