@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Spectral:400,400i');
header{
  background-color: #fcee21;
  font-family: "Open Sans", sans-serif;
  font-size:40px;
  color:#333333;
  text-transform: uppercase;
  text-align:center;
}
  nav{
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    }
    a:hover{
      color:#59B776; /*Green */
    }
    a{
      text-decoration: none;

    }
h2{
  font-size:24px;
  font-family: "Open Sans", sans-serif;
  text-align:center;
  text-transform: uppercase;
}

h3{
  font-family: "Spectral", sans-serif;
  font-size: 22px;
  text-align: center;
  font-style: italic;

}
img{display: block;
  margin: 0 auto;
}
p{
  font-family: "Spectral", sans-serif;
  font-size: 20px;
  text-align: left;
}
h4{
  font-size:24px;
  font-family: "Open Sans", sans-serif;
  text-align:center;
  text-transform: uppercase;
}
h5{
  font-family: "Spectral", sans-serif;
  font-size: 22px;
  text-align: center;
  font-style: italic;
}
main{
  padding-left: 300px;
  padding-right: 300px;
}
footer{
  background-color:#fcee21;
}
